@import url("raiz.css");

.menu-sensor {
  font-size: 30px;
  margin: 2rem;
  font-family: "Righteous", cursive;
}

.menu-2{
    color: #7187d8;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.menu-2:hover{
    background-color: #7187d8;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 20px;
    color: white;
}

.nodec, a:visited {
    text-decoration: none!important;
}

h1{
    font-family: "Righteous", cursive;
}